.contact-form {
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: space-evenly;
    width: 400px;
    background-color: #a4bacc;
    opacity: 0.9;
    height: 300px;
    padding: 20px 50px;
    margin-left: 300px;
}

.contact-form__input {
    padding: 20px 25px;
    box-sizing: border-box;
    font-size: 1.6rem;
}

.contact-form__input:focus {
    border: 3px solid #555;
}

.contact-form__submit {
    --main-color: #5f6b75;
    background-color: var(--main-color);
    transition-duration: 0.4s;  
    color: white;
    padding: 20px 25px;
    border: none;
    border-radius: 4px;
    font-size: 1.6rem;
    font-weight: bold;
    cursor: pointer;
}

.contact-form__submit:hover {
    color: var(--main-color);
    background-color: white;
}