.nav-bar {
    display: flex;
    align-items: center;
    background-color: white;
    padding: 0 50px 0 50px;
    position: fixed;
    box-sizing: border-box;
    opacity: 0.7;
    width: 100%;
    text-transform: uppercase;
}

.nav-bar__logo {
    width: 100px;
    height: 100px;
    margin-right: 50px;
}

.nav-bar__title {
    font-size: 1.6rem;
    font-weight: bold;
}

.nav-bar__contact {
    font-size: 1.5rem;
    margin-left: auto;
    font-weight: bold;
    margin-right: 50px;
}